.login-container {
    position: relative;
    width: 100%;
}

.login-container header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    height: 100px;
    align-items: center;
    background: linear-gradient(180deg, rgba(220, 216, 216, 0.7) 0%, rgba(218, 218, 218, 0.56) 100%);
}
.login-container header img.logo-header {
    width: 140px;
    margin-left: 80px;
    margin-top: 3px;
}
.login-container header div.buttons {
    display: flex;
    width: auto;
    justify-content: space-between;
    margin-top: 40px;
}
.login-container header div.buttons .button {
    display: flex;
    width: 130px;
    height: 40px;
    margin-right: 60px;
    background-color: #FFFFFF;
    justify-content: center;
    align-items: center;

    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.015em;
    color: #18A0FB;

    border: 1px solid #18A0FB;
    box-sizing: border-box;
    border-radius: 6px;
}
.login-container header div.buttons .register {
    margin-right: 80px;
}

.login-container section.form-login {
    display: flex;
    width: 1000px;
    margin: 6px auto 0;
    font-family: cursive;
    align-items: center;
    justify-content: space-around;
}
.login-container section.form-login img.tasksBan {
    width: 400px;
}
.login-container section.form-login div.title {
    text-align: center;
    margin-bottom: 45px;
}
.login-container section.form-login div.title h1 {
    font-weight: 600;
    font-size: 50px;
}
.login-container section.form-login div.title h2 {
    font-weight: 500;
    font-size: 30px;
}
.login-container section.form-login div.inputs {
    max-width: 500px;
}
.login-container section.form-login  div.inputs button {
    width: 100%;
    background-color: #fff;
    margin-top: 10px;
}
.login-container section.form-login  div.inputs button:hover {
    color: black;
}
.login-container section.form-login div.inputs a.createacont {
    color: rgb(110, 109, 109);
    font-size: 13px;
    border: none;
    background: none;
}
.login-container section.form-login div.inputs a.createacont:hover {
    color: #18A0FB;
}