@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.initial-container {
    position: relative;
    width: 100%;
}

.initial-container header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    height: 100px;
    align-items: center;
    background: linear-gradient(180deg, rgba(220, 216, 216, 0.7) 0%, rgba(218, 218, 218, 0.56) 100%);
}
.initial-container header img.logo-header {
    width: 140px;
    margin-left: 80px;
    margin-top: 3px;
}
.initial-container header div.buttons {
    display: flex;
    width: auto;
    justify-content: space-between;
    margin-top: 40px;
}
.initial-container header div.buttons .button {
    display: flex;
    width: 130px;
    height: 40px;
    margin-right: 60px;
    background-color: #FFFFFF;
    justify-content: center;
    align-items: center;

    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.015em;
    color: #18A0FB;

    border: 1px solid #18A0FB;
    box-sizing: border-box;
    border-radius: 6px;
}
.initial-container header div.buttons .register {
    margin-right: 80px;
}

.initial-container section {
    position: relative;
    display: flex;
    height: 530px;
    justify-content: space-evenly;
    align-items: center;
}
.initial-container section div.text {
    width: 550px;
    margin-top: 0;
    font-size: 30px;
    line-height: 44px;
    text-align: justify;
    letter-spacing: -0.015em;

    color: #000000;
    text-shadow: 1px 0px 2px rgba(0, 56, 255, 0.7);
}
.initial-container section div.text .lastText {
    margin-top: 50px;
}
.initial-container section img.logo-section {
    width: 550px;
}
.initial-container section .saberMais {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 315px;
    height: 60px;
    margin-top: 25px;

    background: rgba(0, 102, 255, 0.88);
    border-radius: 15px;
}