.initial-container section {
    position: relative;
    display: flex;
    height: 500px;
    justify-content: space-evenly;
    align-items: center;
}
.initial-container section div.text {
    width: 550px;
    margin-top: 0;
    font-size: 30px;
    line-height: 44px;
    text-align: justify;
    letter-spacing: -0.015em;

    color: #000000;
    text-shadow: 1px 0px 2px rgba(0, 56, 255, 0.7);
}
.initial-container section div.text .lastText {
    margin-top: 50px;
}
.initial-container section img.logo-section {
    width: 550px;
}
.initial-container section .saberMais {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 315px;
    height: 60px;
    margin-top: 25px;

    background: rgba(0, 102, 255, 0.88);
    border-radius: 15px;
    color: white;
}